<html>
  <head>
      <title>Module Grapher UI</title>
  </head>
  <body>
    <br>
    <br>
    <div align="center">
      <h1 id="grapher">Module Grapher v<%= version %></h1>
      <p>Module graphing system displaying download counts from npm. Visit a path based on a module you wish to see statistics for:</p>
      <pre class="pretty"><code><span><a href="/express">http://localhost:3000/express</a></span></code></pre>
    </div>
  </body>
</html>